main{ 
  padding: 10px 10px;
}





header {
  padding: 0 0;
  margin: 0 auto;
  background-color: rgb(244, 79, 79);
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);

}
h1, p, body {
  margin: 0 0;
   

}
p, a {
  font-size: 20px;
}
#parent {
  display: flex;

  justify-content: space-around;
  
}
h2 { 
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);

 
}
#parent {
  margin: 10px 10px; 
}
.contents h2::before {
  content:"●";
  color: rgb(236, 111, 139);
  
 
}
.contents p::first-letter p:nth-of-type(2) {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

img {
  margin: 10px 0;
  width: 70%;
}

.contents { 
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
 text-align: center;
}                

.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

@media screen and (max-width: 768px) {
 #parent {
     display: block;



  }
  h2 {
    font-size: 30px;

  }
  p { 
    font-size: 25px;
  }

}

footer { 
  background-color: rgb(244, 79, 79);
  text-align: center;

}

 a { 
  color: rgb(255, 255, 255)
}
a:link{ 
  color: rgb(193, 234, 251);
 }
 a:visited { 
  color: rgb(245, 178, 168);
 }